<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/all.css" media="screen" title="no title" charset="utf-8">
  <script src="//code.jquery.com/jquery-2.2.0.min.js" charset="utf-8"></script>
  <script src="//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js" charset="utf-8"></script>
</head>
<body>
  <%- include partials/navbar %>
  <%- contents %>
  <%- include partials/footer %>
</body>
</html>
